@font-face {
  font-family: "Quick";
  src: url("../font/Quick.woff") format("woff");
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-family: "Quick";
  position: relative;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
}

html, body {
  overflow-x: hidden;
}

a, a:hover, a:visited {
  color: #FFF;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input {
  margin: 0;
}

.logo {
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
  display: flex;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .logo {
    top: 15px;
    left: 40px;
  }
}
.logo__image {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .logo__image {
    width: 70px;
  }
}
.logo__text {
  font-size: 30px;
  position: relative;
  top: 3px;
  left: 5px;
  letter-spacing: 4px;
}
@media screen and (min-width: 768px) {
  .logo__text {
    font-size: 40px;
    letter-spacing: 5px;
    left: 5px;
  }
}

.header {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  position: relative;
}
.header__banner {
  object-fit: cover;
  width: 100%;
  height: 28vh;
  object-position: 35% 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header__banner {
    height: 55vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  }
}
.header::after {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-color: #D24141;
  border-radius: 50%;
  top: auto;
  bottom: -15px;
  left: -20px;
  right: auto;
  opacity: 0.6;
  z-index: 1;
  mix-blend-mode: soft-light;
  filter: saturate(289%) contrast(273%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
  }
  .header::after {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-color: #D24141;
    border-radius: 50%;
    top: auto;
    bottom: -10%;
    left: 25%;
    right: auto;
    opacity: 0.6;
    z-index: -2;
    mix-blend-mode: soft-light;
    filter: saturate(231%) contrast(299%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}

.nav__burger {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 25px;
  z-index: 101;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__burger {
    top: 28px;
    right: 40px;
  }
}
.nav__list {
  transition: transform 0.5s;
  left: -100vw;
  z-index: 100;
  width: 100vw;
  display: flex;
  background-color: #2B2D32;
  color: white;
  padding: 15% 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  .nav__list {
    padding: 10% 0;
  }
}
.nav__list--open {
  transform: translateX(100%);
}
.nav__item {
  position: relative;
}
.nav__item:hover::after {
  width: 100%;
}
.nav__item::after {
  content: "";
  transition: 0.2s;
  display: block;
  background-color: white;
  width: 0;
  height: 1px;
  bottom: -6px;
  left: 0;
  border-radius: 10px;
  position: absolute;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .products {
    row-gap: 50px;
    padding: 0 8%;
    justify-content: space-between;
  }
}
.products::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-color: #D24141;
  border-radius: 50%;
  top: auto;
  bottom: -50px;
  left: auto;
  right: -15px;
  opacity: 0.6;
  z-index: 1;
  mix-blend-mode: soft-light;
  filter: saturate(236%) contrast(202%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .products {
    position: relative;
  }
  .products::after {
    position: absolute;
    content: "";
    display: block;
    width: 220px;
    height: 220px;
    background-color: #D24141;
    border-radius: 50%;
    top: auto;
    bottom: -100px;
    left: auto;
    right: -40px;
    opacity: 0.6;
    z-index: 2;
    mix-blend-mode: darken;
    filter: saturate(294%) contrast(288%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}

.card {
  /* --- Variables --- */
  /* --- Component --- */
  width: 40%;
  max-width: 400px;
  min-width: 120px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .card {
    width: 26%;
    max-width: none;
  }
}
.card:hover {
  transform: scale(1.03);
}
.card:nth-child(1) .card__container {
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
}
.card:nth-child(2) .card__container {
  clip-path: polygon(0 9%, 100% 19%, 100% 100%, 0% 100%);
}
@media screen and (min-width: 768px) {
  .card:nth-child(3) .card__container {
    clip-path: polygon(0 21%, 100% 30%, 100% 100%, 0% 100%);
  }
}
.card--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .card--desktop {
    display: block;
  }
}
.card__container {
  border-radius: 2px;
  background-color: white;
}
.card__container::after {
  content: "";
  display: block;
  background-color: #36789B;
  height: 200px;
  position: absolute;
  width: 100%;
  top: 0;
  mix-blend-mode: soft-light;
}
.card__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: 0.6s;
}
.card:hover .card__image {
  filter: saturate(120%) contrast(150%);
}
.card__content {
  padding: 20px 12px 15px;
  color: #2B2D32;
}
.card__text {
  margin-top: 8px;
  font-size: 1.1rem;
  position: relative;
  left: 0.2rem;
}
@media screen and (min-width: 768px) {
  .card__text {
    font-size: 1.2rem;
  }
}

.avis {
  position: relative;
  margin: 15% 0;
  position: relative;
}
.avis::after {
  position: absolute;
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background-color: #D24141;
  border-radius: 50%;
  top: 0;
  bottom: auto;
  left: -12px;
  right: auto;
  opacity: 0.6;
  z-index: -1;
  mix-blend-mode: hard-light;
  filter: saturate(271%) contrast(282%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .avis {
    margin: 8% 0 10% 0;
    position: relative;
  }
  .avis::after {
    position: absolute;
    content: "";
    display: block;
    width: 170px;
    height: 170px;
    background-color: #D24141;
    border-radius: 50%;
    top: -15px;
    bottom: auto;
    left: 8%;
    right: auto;
    opacity: 0.6;
    z-index: -1;
    mix-blend-mode: hard-light;
    filter: saturate(274%) contrast(262%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}
.avis__container {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
.avis__container::after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #D24141;
  border-radius: 50%;
  top: 0px;
  bottom: auto;
  left: 85px;
  right: auto;
  opacity: 0.6;
  z-index: -1;
  mix-blend-mode: hard-light;
  filter: saturate(281%) contrast(225%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .avis__container {
    width: 80%;
    padding-left: 10%;
    position: relative;
  }
  .avis__container::after {
    position: absolute;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #D24141;
    border-radius: 50%;
    top: 0px;
    bottom: auto;
    left: calc(10% + 180px);
    right: auto;
    opacity: 0.6;
    z-index: 1;
    mix-blend-mode: hard-light;
    filter: saturate(269%) contrast(264%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
  .avis__container::before {
    content: "";
    background: center/contain no-repeat url("../img/dots.png");
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    right: -50px;
    top: 0;
  }
}
.avis__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .avis__image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.avis__content {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 5%;
  position: relative;
}
.avis__content::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  bottom: auto;
  left: -23px;
  right: auto;
  opacity: 0.6;
  z-index: -1;
  mix-blend-mode: hard-light;
  filter: saturate(216%) contrast(254%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .avis__content {
    margin: 0 10%;
    position: relative;
  }
  .avis__content::after {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    top: 60%;
    bottom: auto;
    left: -50px;
    right: auto;
    opacity: 0.6;
    z-index: -1;
    mix-blend-mode: hard-light;
    filter: saturate(247%) contrast(293%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}
.avis__title {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .avis__title {
    font-size: 2.5rem;
  }
}
.avis__text {
  font-size: 1.1rem;
  margin-top: 8px;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .avis__text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .avis__text {
    margin-top: 25px;
  }
}
.avis::before {
  content: "";
  display: block;
  background-color: #2B2D32;
  width: 100%;
  bottom: -30%;
  top: -30%;
  position: absolute;
  z-index: -1;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}
@media screen and (min-width: 768px) {
  .avis::before {
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
    bottom: -40%;
    top: -40%;
  }
}

.description {
  font-size: 1.1rem;
  line-height: 150%;
  position: relative;
}
.description::after {
  position: absolute;
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  background-color: #D24141;
  border-radius: 50%;
  top: -50px;
  bottom: auto;
  left: 10%;
  right: auto;
  opacity: 0.6;
  z-index: -2;
  mix-blend-mode: soft-light;
  filter: saturate(293%) contrast(281%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 1.3rem;
    position: relative;
  }
  .description::after {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: hard-light;
    border-radius: 50%;
    top: -30px;
    bottom: auto;
    left: auto;
    right: 35%;
    opacity: 0.6;
    z-index: 1;
    mix-blend-mode: soft-light;
    filter: saturate(300%) contrast(257%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}

.intro {
  padding: 0 5%;
}
@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding: 0 8%;
  }
}
.intro__image {
  display: none;
}
@media screen and (min-width: 1000px) {
  .intro__image {
    display: block;
    height: 300px;
  }
}

.technique {
  display: flex;
  justify-content: flex-end;
  margin: 15% 0;
  position: relative;
}
.technique::after {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #D24141;
  border-radius: 50%;
  top: -90px;
  bottom: auto;
  left: auto;
  right: -30px;
  opacity: 0.6;
  z-index: 1;
  mix-blend-mode: soft-light;
  filter: saturate(298%) contrast(236%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .technique {
    justify-content: space-between;
    align-items: center;
    margin: 8% 0 5% 8%;
  }
  .technique::after {
    display: none;
  }
}
.technique__image {
  width: 30%;
  display: none;
}
@media screen and (min-width: 768px) {
  .technique__image {
    display: block;
  }
}
.technique__container {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.technique__container::after {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #D24141;
  border-radius: 50%;
  top: auto;
  bottom: -40px;
  left: -25%;
  right: auto;
  opacity: 0.6;
  z-index: 1;
  mix-blend-mode: soft-light;
  filter: saturate(291%) contrast(237%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 768px) {
  .technique__container {
    width: 55%;
    padding: 2% 0;
    position: relative;
  }
  .technique__container::after {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: #D24141;
    border-radius: 50%;
    top: auto;
    bottom: -40px;
    left: calc(-13% - 40px);
    right: auto;
    opacity: 0.6;
    z-index: -2;
    mix-blend-mode: soft-light;
    filter: saturate(272%) contrast(286%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}
.technique__container::before {
  content: "";
  display: block;
  background-color: #2B2D32;
  left: -15%;
  right: 0;
  bottom: -20%;
  top: -30%;
  position: absolute;
  z-index: -1;
  clip-path: polygon(6% 5%, 100% 9%, 100% 100%, 0 95%);
}
@media screen and (min-width: 768px) {
  .technique__container::before {
    clip-path: polygon(6% 5%, 100% 19%, 100% 100%, 2% 85%);
  }
}
.technique__text {
  color: white;
  position: relative;
  padding-right: 5%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .technique__text {
    text-align: left;
    padding-right: 10%;
  }
}
.technique__text--hidden {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
@media screen and (min-width: 768px) {
  .technique__text--hidden {
    opacity: 1;
    visibility: visible;
    max-height: none;
  }
}
.technique .technique__next, .technique .technique__checkbox {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .technique .technique__next, .technique .technique__checkbox {
    display: none;
  }
}
.technique__checkbox {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.technique__checkbox:checked ~ .technique__text--hidden {
  opacity: 1;
  visibility: visible;
  max-height: 150px;
}
.technique__checkbox:checked ~ .technique__next {
  transform: rotate(180deg);
}
.technique__next {
  transition: transform 0.2s;
  position: relative;
}

.outro {
  display: none;
}
@media screen and (min-width: 768px) {
  .outro {
    display: block;
    margin: 5% 8%;
    position: relative;
  }
  .outro::after {
    position: absolute;
    content: "";
    display: block;
    width: 130px;
    height: 130px;
    background-color: #D24141;
    border-radius: 50%;
    top: auto;
    bottom: calc(-80% - 70px);
    left: auto;
    right: -5%;
    opacity: 0.6;
    z-index: 1;
    mix-blend-mode: soft-light;
    filter: saturate(201%) contrast(231%) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}

.footer {
  background-color: #2B2D32;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 8% 2% 5%;
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 5% 5% 3%;
  }
}
.footer__copyright {
  font-size: 0.6rem;
  width: 18%;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1rem;
  }
}

.socials__title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .socials__title {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}
.socials__list {
  display: flex;
  justify-content: space-around;
}
.socials__icon {
  width: 20px;
  transition: 0.1s;
}
.socials__icon:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .socials__icon {
    width: 30px;
  }
}

.navFooter {
  display: flex;
  align-items: flex-end;
}
.navFooter__list {
  display: flex;
  flex-direction: column;
}
.navFooter__item {
  padding: 5px 0;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .navFooter__item {
    font-size: 1.5rem;
    padding: 10px 0;
  }
}